.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body {
    padding: 2rem;
    width: 400px;
    border-radius: 3px;
    background: #fff;
    min-height: 200px;
    position: relative;
    max-height: calc(90vh - 110px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.modal-body h2 {
    margin: 0 0 1.5rem 0;
    line-height: 1;
}
.modal-body button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 30px;
    line-height: 1;
}
.modal-body p {
    margin: 0 0 1rem 0;
}
