.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    padding: 2rem;
    width: 400px;
    border-radius: 3px;
    background: #fff;
    max-height: 100%;
    min-height: 200px;
    position: relative;
}

.modal-body h2 {
    margin: 0 0 1.5rem 0;
    line-height: 1;
}

.modal-body button {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 30px;
    line-height: 1;
}

.project-list {
    list-style: none;
    padding: 0;
    flex-shrink: 1;
    overflow: auto;
    margin: 0 -2rem 0 0;
    padding-right: 2rem;
}
/* Custom scrollbar styles */
.project-list::-webkit-scrollbar {
    width: 5px;
}
.project-list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}
.project-list::-webkit-scrollbar-thumb {
    background: #d1d0d0;
    border-radius: 3px;
}
.project-list::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.project-item {
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item:hover {
    background: #5591d411;
}

.modal-body button.project-delete-button {
    position: static;
    padding: 0;
    margin: 0;
    display: flex;
}
